<header xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-lg" style="background-color: #000000;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">
                <img th:src="@{/img/logo.png}" alt="" width="100" height="100">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home" style="color:#ffffff">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/juegos" style="color:#ffffff">Administrador</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" style="color:#ffffff" id="navbarDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Juegos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Sport</a></li>
                            <li><a class="dropdown-item" href="#">Racing</a></li>
                            <li><a class="dropdown-item" href="#">Role-Playing</a></li>
                            <li><a class="dropdown-item" href="#">Puzzle</a></li>
                            <li><a class="dropdown-item" href="#">Misc</a></li>
                            <li><a class="dropdown-item" href="#">Shooter</a></li>
                            <li><a class="dropdown-item" href="#">Simulation</a></li>
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Fighting</a></li>
                            <li><a class="dropdown-item" href="#">Platform</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Otros</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" action="/juegos/search" method="get" sec:authorize="isAuthenticated()">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-danger" type="submit">Buscar</button>
                </form>
                <form th:action="@{/login}" method="get" sec:authorize="isAnonymous()">
                    <input class="btn btn-outline-danger ms-2" type="submit" value="Login"/>
                </form>
                <form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
                      <input class="btn btn-outline-danger ms-2" type="submit" value="Sign Out"/>
                </form>
            </div>
        </div>
    </nav>

</header>


