@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: monospace;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #ff0000;
}

.nav-link:focus {
    color: #ff0000;
}

#price {
    text-decoration: line-through red;
    border-style: none;
    padding-right: 10px;
}

.list-group-item {
    display: inline-block;
    width: 288px;
    text-align: center;
    color: #ffffff;
    border-style: none;
    background-color: transparent;

}

#discount {
}

#priceWithDiscount {

    font-size: 20px;
    border-style: none;
    color: #00FF00;
    text-align: center;
}

.navbar-toggler-icon {
    background-image: url('../img/burguer.png') !important;
    font-size: 15px;
    width: 70px !important;
    height: 70px !important;
}

ul {
    list-style: none;

}


.dropdown-menu[data-bs-popper] {
    padding-left: 8px;
}

.pegi-menu {
    padding: 20px;
}

.menu-link {
    color: #ffffff;
    margin-left: 25px;
}

.menu-link:hover {
    color: #ff0000;
    cursor: pointer;
}

.precio-original {
    background-color: transparent;
    text-align: center;


}

h1 {
    text-align: center;
    color: #000000;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    margin-top: 50px;
}


h5 {
    color: #ffffff;
}

h5:hover {
    color: #F00;
}

.edit-form {
    width: 50%;
    margin-left: 50%;
    transform: translate(-50%);
}


.blocks {
    display: flex;
    flex-flow: row nowrap;
}

.block {
    position: relative;
    width: 33.3333333333%;
    height: 325px;
    max-height: 325px;
    margin-right: 1em;
    border: 1px solid #ccc;
    overflow: hidden;
}

.block:hover .block_body {
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    height: 100%;
    transition: top .5s;

}

.block_body {
    position: absolute;
    padding-top: 25%;
    top: 100%;
}

.card {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

}
.card-title {
    text-align: center;
}



.block_body_cat {
    position: absolute;
    padding-top: 5%;
    top: 100%;
}
.item-all {
    padding: 0;

}

