<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"> </head>
<body>
<header th:replace="fragments/header"></header>
<section class="container">
    <h2>Welcome to Legacy Games</h2>
    <p>Go to the <a href="/juegos/">Juegos</a> section or <a href="/juegos/new">Add new game</a></p>

    <div class="d-flex flex-row flex-sm-wrap justify-content-between align-items-center bd-highlight mb-3">

        <div th:each="juego: ${juegos}" class="card" style="width: 18rem;">
            <img th:src="${juego.coverImage}" class="card-img-top" alt="cover">
            <div class="card-body">
                <h5 th:text="${juego.title}" class="card-title"></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li th:text="${juego.category}" class="list-group-item"></li>
                <li th:text="${juego.price1}" class="list-group-item"></li>
                <li th:text="${juego.id}" class="list-group-item" style="display:none;"></li>
            </ul>
            <div class="card-body">
                <a class="btn btn-success btn-sm" th:href="'/juegos/edit/'+${juego.id}">Edit</a>
                <a class="btn btn-danger btn-sm" th:href="'/juegos/delete/'+${juego.id}">Delete</a>
            </div>
        </div>
    </div>
</section>


<footer th:replace="fragments/footer"></footer>
</body>
</html>