<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>
<section class="container">
    <!--    <h2>Welcome to Legacy Games</h2>-->
    <!--    <p>Go to the <a href="/juegos">Juegos</a> section or <a href="/juegos/new">Add new game</a></p>-->
    <h1 th:text="${title}"></h1>


    <div class="d-flex flex-row flex-sm-wrap align-items-center bd-highlight mb-5">

        <div th:each="juego: ${juegos}" class="card" style="width: 18rem;">
            <img th:src="${juego.coverImage}" class="card-img-top" alt="cover">
            <div class="card-body">
                <h5 th:text="${juego.title}" class="card-title"></h5>
            </div>
            <div class="lista">
                <ul class="list-group list-group-flush">
                    <li th:text="${juego.category}" class="list-group-item"></li>
                    <li th:text="${juego.pegiContent}" class="list-group-item"></li>
                    <li class="precio-original">
                        <span th:text="${juego.price+'€'}" th:if="${juego.isDiscounted()}" class="list-group-item" id="price">
                        </span><span th:text="${juego.priceWithDiscount}+'€'" class="list-group-item precio-dscto" id="priceWithDiscount"></span></li>

                    <li th:text="${juego.id}" class="list-group-item" style="display:none;"></li>
                </ul>
            </div>
        </div>
    </div>

</section>


<footer th:replace="fragments/footer"></footer>
</body>
</html>